{% extends "src/views/base.html" %} {% block main %}
<div class="sub-jumbotron clearfix" id="articles-html">
    <div class="sub-tron-container">
        <div class="sub-tron-title">
            文章列表
        </div>
        <div class="sub-tron-subtitle">
            Article catalogs
        </div>
    </div>
</div>
<div class="list-container">
    {% for article in articles %}
        <div class="list-group-item">
                <a href="/articles/{{article._id}}">{{ article.title }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
