{% extends "src/views/base.html" %} {% block main %}
<div class="container clearfix">
    <div class="middle-container">
        <div class="middle">
            {% block sub %}
            {% for article in articles %}
            <p>
                <a href="{{ "/articles/" + article._id  }}">{{ article.title }} &nbsp; {{ article.author }} &nbsp; {{ article.createdAt }}</a>
            </p>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
    <div class="right-container">
        <h1>指示色</h1>
    </div>
</div>
{% endblock %}
