{% if user %}
    <form action="{{ "/articles/" + article._id + "/comments/new" }}" method="POST">
        <div class="media-content">
            <div class="field">
                <input type="hidden" name="articleId" value="{{ article._id }}" />
                <div class="control" id="control"  type="hidden">
                    <textarea
                        name="content"
                        class="textarea"
                        placeholder="发表评论…"
                    ></textarea>
                </div>
            </div>
            <button class="btn" type="submit">发布</button>
        </div>
    </form>
    {% for comment in comments %}
    <article class="media comment">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ comment.author }}</strong>
                    <br />
                    {{ marked(comment.content) | safe }}
                </p>
            </div>
        </div>
        <div>
            <button class="btn">回复</button>
            {% if user.name == "admin" or user.name == comment.author %}
            <a href="/articles/{{ article._id }}/comments/{{ comment._id }}/delete" class="btn">删除</a>
            <a href="/articles/{{ article._id }}/comments/{{ comment._id }}/edit" class="btn">修改</a>
            {% endif %}
        </div>
    </article>
    {% endfor %}

{% else %}
<div class="wtf">
    <p>
        <h1><a href="/signin">登陆</a>后方可查看评论</h1>
    </p>
</div>
{% endif %}