{% extends "src/views/base.html" %} {% block main %}
<div class="sub-jumbotron clearfix" id="comment-edit-html">
        <div class="sub-tron-container">
            <div class="sub-tron-title">
                修改评论
            </div>
            <div class="sub-tron-subtitle">
                Edit comment
            </div>
        </div>
</div>
<div class="container clearfix">
    <div class="middle-container">
        <div class="middle">
            {% block sub %}
            <form action="/articles/{{ articleID }}/comments/{{ comment._id }}/edit" method="POST">
                <p>
                    <textarea name="content"></textarea>
                </p>
                <button type="submit" class="btn">
                    修改
                </button>
                <a class="btn" href="/articles/{{ articleID }}">返回</a>
            </form>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
