{% extends "src/views/base.html" %} {% block main %}
<div class="container clearfix">
    <div class="middle-container">
        <div class="middle">
            {% block sub %}
            <form action="{{ "/articles/" + article._id + "/edit" }}" method="POST">
                <p>
                    <input name="title" type="text" value="{{ article.title }}" />
                </p>
                <p>
                    <input
                        name="type"
                        type="text"
                        value="{{ article.type }}"
                    />
                </p>
                <p>
                    <textarea name="content">{{ article.content }}</textarea>
                </p>
                <button type="submit" class="btn">
                    修改
                </button>
                <a class="btn" href="/articles">返回列表</a>
            </form>
            {% endblock %}
        </div>
    </div>
    <div class="right-container">
        <h1>指示色</h1>
    </div>
</div>
{% endblock %}
