{% extends "src/views/base.html" %} {% block main %}
<div class="container clearfix">
    <div class="middle-container">
        <div class="middle">
            {% block sub %}
            <form action="/new" method="POST">
                <p>
                    <input name="title" type="text" placeholder="Title" />
                </p>
                <p>
                    <input
                        name="type"
                        type="text"
                        placeholder="Type"
                    />
                </p>
                <p>
                    <textarea name="content"></textarea>
                </p>
                <button type="submit" class="btn">
                    发表
                </button>
                <a href="/me" class="btn">返回</a>
            </form>
            {% endblock %}
        </div>
    </div>
    <div class="left-container">
        <h1>指示色</h1>
    </div>
    <div class="right-container">
        <h1>指示色</h1>
    </div>
</div>
{% endblock %}
