{% extends "src/views/base.html" %} {% block main %}
<div class="container clearfix">
    <div class="middle-container">
        <div class="middle">
            {% block sub %}
            <div>
                <h1>{{ article.title }}</h1>
                <h2>{{ article.author }}</h2>
                <h3>创建于： {{ article.createdAt }}</h3>
                <h3>修改于： {{ article.updatedAt }}</h3>
                {{ marked(article.content) | safe }}
            </div>
            {% if user.isAdmin %}
            <a class="btn" href="{{ "/articles/" + article._id + "/edit" }}">编辑</a>
            <a class="btn" href="{{ "/articles/" + article._id + "/delete" }}">删除</a>
            {% endif %}
            <a class="btn" href="/articles">返回列表</a>
            {% endblock %}
            {% include "src/views/comments.html" %}
        </div>
    </div>
    <div class="left-container">
        <h1>指示色</h1>
    </div>
    <div class="right-container">
        <h1>文章信息</h1>
        <h3>点赞数 &nbsp; 点踩数</h3>
        <h3>{{ likesAndDislikes.likes }} &nbsp; {{ likesAndDislikes.dislikes }}</h3>
        {% if hasLikedOrDisliked %}
            {% if user %}
            <div>你已操作</div>
            {% else %}
            <div>请先<a href="/signin">登陆</a></div>
            {% endif %}
        {% else %}
        <div>
            <a class="btn" href="/articles/{{ article._id }}/like">点赞</a>
            <a class="btn" href="/articles/{{ article._id }}/dislike">点踩</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
