{% extends "src/views/base.html" %} {% block main %}
<div class="sub-jumbotron clearfix" id="login-html">
        <div class="sub-tron-container">
            <div class="sub-tron-title">
                登陆
            </div>
            <div class="sub-tron-subtitle">
                Login
            </div>
        </div>
</div>
<div class="container clearfix">
    <div class="middle-container">
        <div class="middle">
            {% block sub %}
            <form action="/signin" method="POST">
                <p>
                    <input name="email" type="text" placeholder="Email" />
                </p>
                <p>
                    <input
                        name="password"
                        type="password"
                        placeholder="Password"
                    />
                </p>
                <div class="btn-group">
                    <button type="submit" class="btn">
                    登陆
                    </button>
                    <a href="/" class="btn">返回</a>
                </div>
                <a href="/signup">点击此处进行注册</a>
            </form>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
