{% extends "src/views/base.html" %} {% block main %}
<div class="container clearfix">
    <div class="middle-container">
        <div class="middle">
            {% block sub %}
            <form action="/signin" method="POST">
                <p>
                    <input name="email" type="text" placeholder="Email" />
                </p>
                <p>
                    <input
                        name="password"
                        type="password"
                        placeholder="Password"
                    />
                </p>
                <button type="submit" class="btn">
                    登陆
                </button>
                <a href="/" class="btn">返回</a>
                <p>
                    <a href="/signup">点击此处进行注册</a>
                </p>
            </form>
            {% endblock %}
        </div>
    </div>
    <div class="right-container">
        <h1>指示色</h1>
    </div>
</div>
{% endblock %}
