{% extends "src/views/base.html" %} {% block main %}
<div class="sub-jumbotron clearfix" id="user-edit-html">
        <div class="sub-tron-container">
            <div class="sub-tron-title">
                修改个人信息
            </div>
            <div class="sub-tron-subtitle">
                Profile modify
            </div>
        </div>
</div>
<div class="container clearfix">
    <div class="middle-container">
        <div class="middle">
            <div>
                <form action="/me/edit" method="POST">
                    <p>
                        <input
                            name="name"
                            value="{{ name }}"
                            type="text"
                        />
                    </p>
                    <p>
                        <input
                            name="password"
                            type="password"
                            placeholder="Password"
                        />
                    </p>
                    <button type="submit" class="btn">修改</button>
                    <a href="/me" class="btn">返回</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
