* {
    margin: 0;
}

/** 清除浮动 */
.clearfix::after {
    display: block;
    visibility: hidden;
    content: '.';
    clear: both;
    height: 0;
}

/** 垂直居中 */
.horizontal-vertical-centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** 列表/链接清除多余样式 */
li {
    float: left;
    margin-right: 30px;
    list-style: none;
    padding-right: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited,
a:link {
    color: #fff;
}

input {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5px;
    outline-style: none;
    margin: 10px 0;
    width: 200px;
}

.btn-group {
    padding: 10px 0;
}

.btn {
    background-color: #4891da;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
}

textarea {
    height: 250px;
    width: 500px;
    margin: 15px 0;

    padding: 10px 30px;
    border-radius: 5px;
    outline-style: none;
}

.text {
    text-align: center;
    margin: 0 auto;
}

/**  导航条  */
.nav {
    background: #24292e;
    font-size: 20px;
    padding: 10px 10px;
    height: 40px;
}

.nav ul li {
    padding-top: 5px;
}

.nav-right {
    float: right;
    margin-right: 30px;
    padding-top: 5px;
    color: #fff;
}

.nav-right p {
    display: inline-block;
    margin-right: 20px;
}

.nav-right a {
    float: right;
}

/**  底部  */

.footer-class {
    background: #24292e;
    height: 100px;
    padding: 30px 100px;
    color: #fff;
}

.social-links {
    float: right;
}


/**  首页  */
.jumbotron {
    background: #336699;
    height: 550px;
}

.tron-container {
    width: 75%;
    height: 65%;
    text-align: center;
}

.tron-title {
    font-size: 100px;
    font-weight: 100;
    text-transform: uppercase;
}

.tron-subtitle {
    font-size: 60px;
    font-weight: 200;
}

/**  两列布局  */
.middle-container {
    width: 100%;
    float: left;
}

.middle {
    margin: 0 310px;
    background: #eee;
    text-align: center;
}

.right-container {
    float: left;
    background: #eee;
    width: 300px;
    margin-left: -300px;
    text-align: center;
}


/** 文章列表页 */
.list-container {
    margin: 0 auto;
    width: 50%;
}

.list-container a {
    display: block;
    color: black;
    background: #eee;
    padding: 10px 0;
    border: 1px solid black;
    margin-bottom: -1px;
    text-align: center;
}

.list-container a:hover {
    background-color: #fff;
}

.list-container a:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
}

.list-container a:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}


/** 副页巨幕 */
.sub-jumbotron {
    height: 300px;
}


.sub-tron-container {
    padding-top: 50px;
    padding-left: 50px;
}

.sub-tron-title {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}

.sub-tron-subtitle {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
}

/** 各个页副巨幕 */
#articles-html {
    background-color: aquamarine;
}

#help-html {
    background-color: lightblue;
}

#about-html {
    background-color: lightcoral;
}

#profile-html {
    background-color: lightsalmon;
}

#new-article-html {
    background-color: lightpink;
}

#user-edit-html {
    background-color: lightgray;
}

#login-html {
    background-color: lightsteelblue;
}

#signup-html {
    background-color: lightseagreen;
}

#article-html {
    background-color: lightcyan;
}

#article-edit-html {
    background-color: lightgreen;
}

#comment-edit-html {
    background-color: lightgreen;
}

#error-html {
    background-color: rgb(241, 111, 111)
}

#notfound-html {
    background-color: lightslategrey;
}

/** 文章详情页 */
.time {
    font-size: 15px;
}

.article {

}

.article-title {
    font-weight: 300;
    font-size: 50px;
}

.article-author {
    font-weight: 300;
    font-size: 25px;
}

/** 评论区 */
.comments {
    border-top: 10px solid white;
}

.comment {
    border-bottom: 1px solid white;
}

.comment:last-child {
    border-bottom: none;
}

.comment-author {
    font-weight: 300;
    font-size: 25px;
}
