* {
    margin: 0;
}

/** 清除浮动 */
.clearfix::after {
    display: block;
    visibility: hidden;
    content: '.';
    clear: both;
    height: 0;
}

/** 垂直居中 */
.horizontal-vertical-centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** 列表/链接清除多余样式 */
li {
    float: left;
    margin-right: 30px;
    list-style: none;
    padding-right: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited,
a:link {
    color: #fff;
}

input {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5px;
    outline-style: none;
    margin: 10px 0;
    width: 200px;
}

.btn {
    background-color: lightgreen;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
}

textarea {
    height: 300px;
    width: 500px;
    margin-bottom: 15px;
}

.text {
    text-align: center;
    margin: 0 auto;
}

/**  导航条  */
.nav {
    background: #24292e;
    font-size: 20px;
    padding: 10px 10px;
    height: 40px;
}

.nav ul li {
    padding-top: 5px;
}

.nav-right {
    float: right;
    margin-right: 30px;
    padding-top: 5px;
    color: #fff;
}

.nav-right p {
    display: inline-block;
    margin-right: 20px;
}

.nav-right a {
    float: right;
}

/**  底部  */

.footer-class {
    background: #24292e;
    height: 100px;
    padding: 30px 100px;
    color: #fff;
}

.social-links {
    float: right;
}

/**  首页  */
.jumbotron {
    background: #336699;
    height: 550px;
}

.tron-container {
    width: 75%;
    height: 65%;
    text-align: center;
}

.tron-title {
    font-size: 100px;
    font-weight: 100;
    text-transform: uppercase;
}

.tron-subtitle {
    font-size: 60px;
    font-weight: 200;
}

/**  两列布局  */
.middle-container {
    width: 100%;
    background: lightcoral;
    float: left;
}

.middle {
    margin: 0 300px;
    background: gold;
    text-align: center;
}

.right-container {
    float: left;
    background: lightblue;
    width: 300px;
    height: 550px;
    margin-left: -300px;
    text-align: center;
}

/** 文章列表页 */
.list-container {
    margin: 0 auto;
    width: 50%;
}

.list-group-item {
    margin-bottom: -1px; /* 消除底部border */
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.list-group-item a {
    display: block;
    color: black;
    background: gold;
    padding: 10px 0;
}


.list-group-item a:hover {
    background-color: #ddd;
}

.list-group-item:first-child {
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.list-group-item:last-child {
    margin-bottom: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/** 副页巨幕 */
.sub-jumbotron {
    height: 300px;
}

.sub-tron-container {
    padding-top: 30px;
    padding-left: 30px;
}

#articles-html {
    background-color: aquamarine;
}

.sub-tron-title {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}

.sub-tron-subtitle {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
}