{% if user %}
    <form action="{{ "/articles/" + article._id + "/comments/new" }}" method="POST">
        <div class="control" id="control" style="display: none;">
            <textarea name="content" class="textarea" placeholder="发表评论" id="textarea"
        ></textarea>
        </div>
        <button class="btn" id="btn0" type="submit" style="display: none;">发布</button>
        <button class="btn" id="btn2" type="reset" style="display: none;">清空</button>
        <button class="btn" id="btn3" type="button" style="display: none;" onclick="hide()">取消</button>
    </form>
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <p>
                    {{ comment.author }}
                    <p>发布于：{{ comment.updatedAt }}</p>
                    {{ marked(comment.content) | safe }}
                </p>
                <div class="btn-group">
                    {% if user.name == "admin" or user.name == comment.author %}
                    <a href="/articles/{{ article._id }}/comments/{{ comment._id }}/delete" class="btn">删除</a>
                    <a href="/articles/{{ article._id }}/comments/{{ comment._id }}/edit" class="btn">修改</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
<div>
    <h1><a href="/signin">登陆</a>后方可查看评论</h1>
</div>
{% endif %}
{% block script %}
<script rel="text/javascript" src="/src/statics/js/comment.js"></script>
{% endblock %}