<div class="pagination clearfix">
    {%  if 1 < pageCount and pageCount >= currentPage  %}
        <div>
            {% if currentPage == 1 %}
                <a class="pagination-btn current-page" href="{{ baseUrl + 1 }}" >1</a>
            {% else %}
                <a class="pagination-btn" href="{{ baseUrl + 1 }}" >1</a>
            {% endif %}
            {% if pageStart > 1 %}
                <span>&hellip;</span>
            {% endif %}
            {% for i in range(pageStart + 1, pageEnd) %}
                {% if i == currentPage  %}
                    <a class="pagination-btn current-page">{{ i }}</a>
                {% else %}
                    <a class="pagination-btn" href="{{ baseUrl + i }}" >{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if pageEnd < pageCount %}
                <span>&hellip;</span>
            {% endif %}
            {# 最后一页 #}
            {% if currentPage == pageCount %}
                <a class="pagination-btn current-page" href="{{ baseUrl + pageCount }}">{{ pageCount }}</a>
            {% else %}
                <a class="pagination-btn" href="{{ baseUrl + pageCount }}">{{ pageCount }}</a>
            {% endif %}
        </div>
    {% else %}
        <p>没有更多了... </p>
    {% endif %}
</div>